#icon{
    padding: 2rem;
    gap: 0;
    width: 100%;
}

#icon figure{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--verde);
    box-shadow: 0px 0px 10px var(--verde-alternativo);
}

#icon figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#icon h1{
    padding: 1rem;
    color: var(--text-color-1);
    font-family: var(--oxanium);
    font-size: 2.8rem;
    text-align: center;
    font-weight: 900;
}

#icon #subtitulo{
    color: var(--text-color-2);
    font-size: 1.4rem;
    font-family: var(--vt);
    text-align: center;
    font-style: italic;
    font-weight: 400;
    padding: auto 1rem;
}


#links{
    padding: 2rem 4rem;
    border-radius: 1rem;
}

#links a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    background-color: var(--bg-3);
    border-radius: 1rem;
    border: 2px solid var(--verde);
    transition: all 200ms ease-in-out;

    &:hover, &:focus{
        transform: scale(1.05);
        box-shadow: 0px 0px 5px var(--verde);
        background-color: transparent;
    }
}

#links a h2{
    font-size: 1.4rem;
    color: var(--text-color-2);
    font-family: var(--orbitron);
    font-weight: 700;
}

#links a:hover h2{
    color: var(--verde);
    text-shadow: 0px 0px 2px var(--verde);
}

#links a img{
    width: 3rem;
    height: 3rem;
}

#links a:hover img{
    filter: drop-shadow(0 0 5px var(--verde));
}

