:root{
    /* cores */

    --bg-1: #051824;
    --bg-2: #132936;
    --bg-3: #3b5265;
    --verde: #27e9b5; 
    --verde-alternativo: #00d5b5;

    --text-color-1: #d4e4ed;
    --text-color-2: #d8e3e9;
    --text-color-3: #49585a;
    --text-color-4: #0d2e45;

    /* fontes */
    --orbitron: "Orbitron", sans-serif;
    --share-tech: "Share Tech Mono", monospace;
    --oxanium: "Oxanium", sans-serif;
    --vt: "VT323", monospace;
}

body{
    background-image: url(/src/img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 4rem 7rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}

main{
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: var(--bg-1);
    border-radius: 2rem;
    overflow: hidden;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 10px var(--verde), 0px 0px 10px var(--verde-alternativo);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
